body {
    background-color: rgb(155, 168, 242);
}

header {
    background-color: rgb(188, 150, 222);
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h4 {
    font-size: 35px;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p {
    text-align: justify;
}

.imgStart {
    border: solid 10px black;
    float: right; 
    border-radius: 20%;
    height: 200px;
    width: 250px;
}

.Poliestireno {
    border: solid 10px black;
    border-radius: 20%;
}

.CajaCarton {
    border: solid 10px black;
    border-radius: 20%;
    height: 200px;
    width: 250px;
}

.PapelAluminio {
    border: solid 10px black;
    border-radius: 20%;
    height: 180px;
    width: 250px;
}

.Pegamento {
    border: solid 10px black;
    border-radius: 20%;
    height: 200px;
    width: 200px;
}

.Superficie {
    border: solid 10px black;
    border-radius: 20%;
    height: 250px;
    width: 250px;
}

.EncuestaT {
    text-align: center;
}

label {
    font-weight: bold;
}

#Credits {
    display: none;
}

#CreditsButton {
    text-align: center;
    margin-bottom: 250px;
}
