body {
    background-color: rgb(155, 168, 242);
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h4 {
    font-size: 35px;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imgStart {
    border: solid 10px black;
    float: right; 
    border-radius: 20%;
    height: 200px;
    width: 250px;
}

.img2 {
    border: solid 10px black;
    border-radius: 20%;
}