body {
    background-image: url('webpagebackground.svg');
    background-size: cover;
    padding: 0;
    margin: 0;
}

header {
    background-color: #6f82eb;
    top: 0;
}

mark {
    background-color: #6f82eb;
    border-radius: 10px;
    padding: 10px;
}

th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(54, 54, 248);
    border: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h4 {
    text-align: center;
    font-size: 35px;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table {
    width: 50%;
    margin: auto;
}

p {
    text-align: justify;
}

.imgStart {
    border: solid 2px black;
    float: right; 
    border-radius: 20%;
    height: 200px;
    width: 250px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    margin-left: 25px;
}

.Poliestireno {
    border: solid 2px black;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.CajaCarton {
    border: solid 2px black;
    border-radius: 20%;
    height: 200px;
    width: 250px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.PapelAluminio {
    border: solid 2px black;
    border-radius: 20%;
    height: 180px;
    width: 250px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.Pegamento {
    border: solid 2px black;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.Superficie {
    border: solid 2px black;
    border-radius: 20%;
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.EncuestaT {
    text-align: center;
}

label {
    font-weight: bold;
}

#Credits {
    display: none;
}

#CreditsButton {
    text-align: center;
    margin-bottom: 250px;
}

.letra {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
